.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ffffff;
  color: #000000;
}

.nav a.active {
  background-color: #11999e;
  color: white;
}
